/* UNKNOWN*/
.stage .ui-selected {
    background: red;
    color: white;
    font-weight: bold;
}
 




/* STAGES */ 
.stage {
    background: #EBEBEB; 
    border-radius: 4px;
    height:600px;
    width:270px;
    margin:10px;
    float:left;
    padding:13px;
}

 
.stage li {
    margin: 10px;
    padding: 2px;
    cursor: pointer;
    border-radius: 3px;
    margin-top:20px;

}






/* SITES*/

.site-card {
    background-color: #ffffff;
    width:88%;
    border-bottom:1px solid #ccc;
    border-radius: 4px;
    margin:auto;
    list-style-type: none;

}


.site-card:hover {
    background-color: #F5F0F0;
    cursor:pointer;
    cursor:hand;
}


 
.highlight {
    border: 2px solid #0078D4;
    font-weight: bold;
    -ms-transform: rotate(3deg); /* IE 9 */
    -webkit-transform: rotate(3deg); /* Chrome, Safari, Opera */
    transform: rotate(3deg);
}



/*SITE CONTENT*/

.site-name{
    font-family:Roboto;
    font-size: 14px;
    color: #21303D;
    letter-spacing: -0.13px;
    margin:12px 9px 0px 10px;
    line-height:16px;
}

.site-card-labels{
    margin-left:8px;
}


.site-label{
    font-family:Roboto;
    font-weight:400;
    background: #818A91;
    border-radius: 18px;
    color: white;
    font-size:12px;
    display:inline-block;
    padding:2px 8px 2px 8px;
    margin:8px 0px 2px 0px;
    letter-spacing: -0.13px;
}



.site-card-source{
    margin-bottom:7px;
}

.source-heading{
    font-family: Roboto-BlackItalic;
    font-size: 12px;
    color: #0078D4;
    letter-spacing: -0.13px;
    padding:2px 1px 2px 8px;
}

.source-info{
    font-family: Roboto-Regular;
    font-size: 12px;
    color: #0078D4;
    letter-spacing: -0.13px;
}



/* STAGE SLOT*/
.stageslot{
    width:300px;
    height:1000px;
    background-color:blue;
    float:left;
    margin:30px;
}

.drag-placeholder{
    border-radius: 4px;
    height:600px;
    width:270px;
    margin:10px;
    float:left;
    padding:13px;
    background-color:gray;

}



.add-new-stage-button{
    height:50px;
    background-color:#21303D;
    border-top-right-radius:6px;
    border-top-left-radius:6px;
    position:block;
    width:50px;
    color:White;
    font-family:roboto;
}

