

.site-card-container{
	height:450px;
	width:628px;
	background-color:#f1f1f1;
	margin-left:auto;
	margin-right:auto;
	margin-top:10%;
	display: block;
	border-radius:6px;
	border-bottom:1px solid #ccc;
}


.site-card-heading{
	height:50px;
    background-color:#21303D;
    border-top-right-radius:6px;
    border-top-left-radius:6px;
    position:block;
    border-bottom:solid 5px #fd9727;

}


.site-card-name-container{
	padding-top:11px;
	padding-left:15px;
	
	display:inline-block;
	height:45px;

}

.input{
	height:26px;
	width:180px;
	border:none;
	
 
  font-size:20px;
    border:none;
    background-color: #21303D;
    font-family:Roboto;
    font-weight:300;
    color:white;
}

.input:active {
    background-color: #4B6D8A;
    cursor:pointer;
    cursor:hand;
    cursor:pointer;
    cursor:hand;
}

.input[type=text]:focus {
    background-color: #4B6D8A;
    cursor:pointer;
    cursor:hand;
   
}




.site-card-close-button{
	border-radius: 50%;
	width: 28px;
	height: 28px; 
	float:right;
	margin-right:10px;
	background-color:#21303D;
	margin-top:9px;
	display:inline-block;
}

.site-card-close-button:hover{
	background-color:#0079C8;
}

.close-icon{
	height:18px;
    background-size:18px;
    background-image: url("img/cross-button.svg");
    background-repeat: no-repeat;
    margin-left:5.5px;
    margin-top:5.5px;
 
}


.site-card-contents{
	width:93%;
	margin:25px;
	height:100px;
}


.card-left{
	float:left;
	width:50%;
	height:100px;
	margin-right:auto;
	margin-left:auto;
}

.card-right{
	float:right;
	width:50%;
	height:100px;
	margin-right:auto;
	margin-left:auto;
}

.card-content{
	width:90%;
	
	margin:auto;
	margin-top:10px;
	margin-bottom:20px;

}

.card-content-heading{
font-family: Roboto-Bold;
font-size: 18px;
color: #027BBC;
letter-spacing: -0.17px;
}


.label{
    font-family:Roboto;
    font-weight:400;
    background: #818A91;
    border-radius: 18px;
    color: white;
    font-size:12px;
    display:inline-block;
    padding:2px 8px 2px 8px;
    margin:8px 0px 2px 0px;
    letter-spacing: -0.13px;
}

.screenshot{
	    height:250px;
    background-size:250px;
    background-image: url("img/screenshot.png");
    background-repeat: no-repeat;

}


.action{
	width:99px;
	margin-bottom:5px;
}	

.go-to-button{
	margin-bottom:8px;
}